<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <application>
        <service
            android:name=".android.wear.PhoneWearService"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/orgzly/task_counts_request" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/orgzly/watch_config" />
            </intent-filter>
        </service>
    </application>
</manifest>
