<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/ic_complication_icon">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <service
            android:name="com.orgzly.android.wear.TaskComplicationService"
            android:exported="true"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="3600" />

        </service>

        <service
            android:name="com.orgzly.android.wear.WatchDataListenerService"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/orgzly/task_counts" />
            </intent-filter>
        </service>

        <activity
            android:name="com.orgzly.android.wear.ConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.OrgzlyWear"
            android:label="@string/config_title">

            <intent-filter>
                <action android:name="com.orgzly.wear.CONFIG_COMPLICATION" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
            </intent-filter>
        </activity>
    </application>
</manifest>
